EXPO_PUBLIC_SUPABASE_URL=https://omspbmogkplnklfzgotk.supabase.co

EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9tc3BibW9na3BsbmtsZnpnb3RrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI4MDc2MjUsImV4cCI6MjA3ODM4MzYyNX0.K2SgBDPdaVIwu7XrkCM5AgfRgEJ_rqhgnV-sBlfpzhM
